Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Developers
Config/DefaultInput.ini
Packaged
Build
/Build
/Build/WindowsNoEditor